{% extends "staff_base.html" %}
{% load static crispy_forms_tags %}

{% block main_content %}
    <div class="row">
        <div class="col">
            <div class="page-heading">
                <h1>
                    Companies
                </h1>
            </div>
        </div>
    </div>
    <table id="records" class="ManagementQuestion-table table" style="width:100%">
        <thead>
            <tr>
                <th class="column-header" style="width:30%">Name</th>
                <th class="column-header"></th>   
            </tr>
        </thead>
    </table>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function() {

            var table = $('#records').DataTable({
                dom: 'r',
                ajax: "{% url 'company_table' %}",
                paging: false,
                columns: [
                    {
                        "data": "text",
                        render: $.fn.dataTable.render.text(),
                    },
                    {
                        data: 'edit',
                        className: "center",
                    }
                ],
                createdRow: function ( row, data, index ) {
                    $(row).addClass('row-text-item')
                },
            });
        });
    </script>
{% endblock js %}
