{% extends "staff_base.html" %}
{% load static crispy_forms_tags %}

{% block main_content %}
    <div class="row">
        <div class="col-10">
            <div class="page-heading">
                <h1>
                    Management Questions
                </h1>
            </div>
        </div>
        <div class="col">
            <div class="float-right">
                <a href="{% url 'management_question_create' %}" class="btn btn-secondary">Add Question</a>
                <div class="dropdown d-inline-block">
                    <button class="btn btn-secondary dropdown-toggle ml-8" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-upload"></span> Bulk Upload Questions
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item import user-invite-dialog" data-action="import" href="javascript:void(0)"><span class="fa fa-fw fa-file-excel"></span>Upload</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% static "templates/management_question_import_template.xlsx" %}" target="_blank"><span class="fa fa-fw fa-download"></span> Download Template</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group ml-2 dataTables_filter" style="margin-top:85px;">
        <label class="control-label font-semi-bold mr-3">Filter by risk:</label>
        <select class="js-risks">
            <option value="All">Show All</option>
            {% for risk in risks %}
                <option value="{{ risk }}">{{ risk }}</option>
            {% endfor %}
        </select>
    </div>

    <table id="records" class="question-table table" style="width:100%">
        <thead>
            <tr>
                <th class="column-header" style="width:30%">Question</th>
                <th class="column-header">Category</th>
                <th class="column-header">Risk Factors</th>
                <th class="column-header">Company</th>
                <th class="column-header"></th>
                <th class="column-header"></th>
            </tr>
        </thead>
    </table>

    <form action="{% url 'management_questions_list' %}" method="post" id="import-form" class='d-none' enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="spreadsheet">
        <input type="hidden" name="action" value="">
    </form>

    <div id="deleteManagementQuestion" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="row">
                    <div class="col-2 modal-icon-wrapper">
                        <i class="fal fa-exclamation-circle warning fa-3x modal-icon"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="modal-title">Delete Question?</h5>
                        <p class="modal-text">This action cannot be reversed </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-tertiary" data-dismiss="modal">Close</button>
                    <a href=# type="button" class="btn btn-primary delete-me">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {

            $("#import-form input:file").change(function() {
                $("#import-form").submit();
            });

            $(".dropdown-item.import").click(function(e) {
                e.preventDefault();
                $("#import-form [name=action]").val($(this).attr("data-action"));
                $("#import-form :file").click();
            });

            $('#records').on('click', 'a.editor_remove', function (e) {
                e.preventDefault();
                var data = table.row($(this).closest('tr')).data()
                var url = "{% url 'management_question_delete' 123 %}";

                $('#deleteManagementQuestion').modal('show');
                $('#deleteManagementQuestion').find('.delete-me').attr('href' , url.replace('123', data.link));
            });

            $('#deleteManagementQuestion').modal({ show: false})

            var table = $('#records').DataTable({
                dom: 'r',
                ajax: "{% url 'management_questions_list_table' %}",
                paging: false,
                columns: [
                    {
                        "data": "text",
                        render: $.fn.dataTable.render.text(),
                    },
                    {
                        "data": "category",
                        render: $.fn.dataTable.render.text(),
                    },
                    {
                        "data": "riskfactor[,</br>]",
                        render: $.fn.dataTable.render.text(),
                    },
                    {
                        "data": "company",
                        render: $.fn.dataTable.render.text(),
                    },
                    {
                        data: "link",
                        className: "center",
                        render: function(data, type) {
                            return "<a href=# class='btn btn-primary editor_remove'>Delete</a>"
                        }
                    },
                    {
                        data: 'edit',
                        className: "center",
                    }
                ],
                columnDefs: [{
                    "targets": 3,
                    "orderable": false
                }],
                createdRow: function ( row, data, index ) {
                    $(row).addClass('row-text-item')
                },
            });

            $('.js-risks').select2();

            $('.js-risks').on('change', function() {
                var data = $(this).val();

                $.ajax({
                    url: "{% url 'management_questions_list_table' %}",
                    type: "get",
                    data: {
                        'filter_value': data,
                    }
                }).always(function() {
                }).fail(function(data) {
                    console.log('failed')
                }).done(function(data) {
                    console.log(data)
                    table.clear();
                    table.rows.add(data.data).draw();
                });
            })
        });
    </script>
{% endblock js %}
