{% extends "staff_base.html" %}
{% load static crispy_forms_tags %}


{% block main_content %}
    <h2>Risk Factor</h2>
    <p class="pb-0 mb-0">Slug: {{ object.slug }}</p>
    <br>
    <br>
    <form action="{% url 'risk_factor_detail' form.instance.id %}" method="POST">
        {% csrf_token %}
        {% crispy form  "bootstrap3" %}
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-link">Cancel</a>
    </form>
    {% if file_obj %}
        Uploaded dataset file: 
        <a href="{% url 'download_file' version.pk %}">
            {{ version.filename }}
        </a>
    {% endif %}
    {% if version %}
        <p class="pb-0 mb-0">Skew: {{ version.skew }}</p>
        <p class="pt-o mt-0">Data order: {{ version.data_order }}</p>
        <p class="pt-o mt-0">Data normalised: {{ version.normalised_data }}</p>
        <table id="records" class="table table-striped table-bordered"  style="width:100%">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for record in current_data %}
                    <tr>
                        <td>
                            {{ record.country }}
                        </td>
                        <td>
                            {% if record.exposure or record.exposure == 0.0 %}
                                {{ record.exposure }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
{% endblock %}