{% load static %}

<footer class="footer-wrapper">
    <div class="footer-text">
        <span class='company-copyright'>
            ©2020 Landmark Information Group Ltd
        </span>
        <span class='footer-links'>
            <a href="{% static 'pdf/terms-and-conditions.pdf' %}" target="_blank" class="mr-4" style="color: #333333;">
                Terms & conditions  
            </a>
            <a href="{% static 'pdf/privacy-policy.pdf' %}"  target="_blank" style="color: #333333;">
                Privacy policy
            </a>
        </span>
    </div>
</footer>