{% extends "account/not_logged_in_base.html" %}
{% load i18n account crispy_forms_tags static %}


{% block content %}
    <div class="login-page" style="min-height: 459px;">
        <img src="{% static '/img/RiskHorizon-logo.png' %}" class='login-logo' height="40px" width="280.7px" alt="Landmark logo" />
        <h1 class="login-title mt-4">{% trans "Reset your password" %}</h1>

        <div id="toast-container" class="toast-top-center" style="position: relative !important; cursor: default;">
            <div class="toast toast-success password-email-sent" aria-live="polite">
                <div class="reset-password-sent-heading">Reset email password sent</div>
                <div class=" please-check-email toast-message mt-2">Please check <span class='users-email'></span></div>
            </div>
        </div>

        <p class="ml-4" style="margin-top: 56px;"><a class="btn btn-primary pull-left ml-3 back-to-login-button" type="button" style="width: 318px; height: 52px;" href="{% url 'home' %}">{% trans "Back to login" %}</a></p>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            var email = localStorage.getItem('password_reset_email');
            $('.users-email').text(email);
            localStorage.removeItem('password_reset_email');
        });
    </script>
{% endblock %}