{% extends "account/not_logged_in_base.html" %}
{% load i18n account crispy_forms_tags static %}


{% block content %}
    <div class="login-page">
        <img src="{% static '/img/RiskHorizon-logo.png' %}" class='login-logo' height="40px" width="280.7px" alt="Landmark logo" />
        <h1 class="login-title mt-4">{% trans "Reset your password" %}</h1>
        <form class="login-form " method="POST" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <div class="row justify-content-center align-items-center">
                <p class="reset-password-text">
                    Don’t worry it happens to the best of us.  Enter your email and we’ll send you instructions to reset your password.
                </p>
                <div class="form-row">
                    <div class="form-group">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
            </div>
            <p class="ml-4"><button class="btn btn-primary pull-left ml-3" style="width: 318px; height: 52px;" type="submit">{% trans "Reset password" %}</button></p>
            <p class="row justify-content-center align-items-center">
                <a class="btn-no-decoration" href="javascript: history.go(-1)" style="color: #e98300;">{% trans "Back" %}</a>
            </p>
        </form>
    </div>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function() {
            $( '#id_email' ).change(function() {
                localStorage.setItem("password_reset_email", $(this).val());
            });
        });
    </script>
{% endblock %}