
@media (max-width: 990px) {

	.btn {
		width: 100%;
	}

	.smart-scroll {
		position: fixed;
	}

	.custom-list-item {
		margin-top: 10px;
	}
	#content-wrapper {
		margin-top: 50px;
	}
	.mobile-link {
		display: inline;
	}

	#progressbar {
		margin-left: -58px;
	}

	.current-inner {
		left: 36.5%;
	}

	.nav-links {
		width: 232px;
		height: 439px;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
		background-color: #fff;
	}
	.nav-link-item {
		font-size: 16px;
		color: #000 !important;
		display: block;
		line-height: 1.31;
		padding: .5rem 1rem;
	}
	.nav-link-item:hover {
		padding: .5rem 1rem;
	}

	.active-nav-item {
		background-color: rgb(42, 38, 35, 0.1);
		font-weight: bold;
	}

	.mobile-header-wrapper {
		position: relative;
		width: 100%;
		display:-webkit-flex;
		-webkit-justify-content:center;

		display:flex;
		justify-content:center;
	}
	.mobile-header-column {
		position: relative;
		-webkit-flex:1;
		flex:1;
	}
	.user-profile-main, .mobile-hide, .silver-vertical-line {
		display: none;
	}
	.mobile-user-icon {
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		font-size: 13px;
		color: #fff;
		line-height: 31px;
		text-align: center;
		background: #63ad97;

		position:absolute;
		right: 0;
	}

	#navbarResponsive {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
		width: 280px;
		height: 100%;
	}
	.navbar-nav {
		margin: 0;
    	margin-top: 89px;
	}
	.nav-main {
		height: 10px;
	}
	.nav-item {
		text-align: center !important;
	}
	.top-nav-bar {
		height: 60px;
	}

	.navbar-brand {
		position: absolute;
		left: 40%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.navbar-toggler {
		border: none;
	}

	.card-info > .card-body > .row > .col > .card-text, .card-number {
		text-align: center;
		line-height: 1.25;
	}
	.white-card > .card-body {
		padding: 13px;
	}
	.white-card > .card-body > .card-title {
		text-align: center;
	}
	.initial-display > .card-body {
		margin-top: -2vh;
    	padding: 50px;
	}
	.initial-display {
		padding: 0;
    }
    #id_company_description {
        width: 100% !important;
	}
	.mobile-mid {
		text-align: center;
		display: block;
	}

	.step__label {
		bottom: -2.7rem;
	}
	.progress-wrapper {
		margin-left: -15px !important;
	}
}