@font-face {
	font-family: 'FontAwesome';
	src: local('FontAwesome'),
		url('../fonts/font_awesome.otf') format("truetype");
}


.manual-questions * .select2-container .select2-selection--single {
	height: 56px !important;
}

.kpi-formset *  .form-group * .select2-selection--single *.select2-selection__rendered {
	line-height: 51px !important;
    font-size: 13px;
    margin-left: 10px;
}
.kpi-formset * .select2-selection__arrow {
	top: 2px !important;
}

.kpi-formset * .select2-selection__placeholder {
	margin-left: 0 !important;
}

.kpi-form > td > .row > .form-group > * .select2-selection__choice {
	background-color: #928C80 !important;
	border: none !important;
	color: #fff !important;
    padding-left: 10px !important;
}

.form-group * .select2-selection__arrow {
	height: 20px !important;
	top: 5px !important;
}

.form-group  * .select2-selection--single {
    height: 50px !important;
}

.form-group  * .select2-selection--single *.select2-selection__rendered {
	line-height: 50px !important;
	font-size: 13px;
}


.manual-questions * .select2-selection__rendered {
	line-height: 55px !important;
	font-size: 13px;
}
.manual-questions * .select2-selection__arrow {
	height: 24px !important;
	top: 4px !important;
}

.select2-selection--single,.select2-selection--multiple  {
	border-color: #cacacc !important;
}


.select2-selection__arrow {
	height: 24px !important;
	top: -7px !important;
}

.select2-selection--multiple {
    border-radius: 3px;
    border: solid 1px #cacacc;
    background-color: #ffffff;
}

.select2-selection--multiple * .select2-search__field {
    height: 37px;
}

.select2-selection__choice {
	background-color: #e98300 !important;
	border: none !important;
	color: #fff !important;
    padding-left: 10px !important;

}

.select2-selection__choice.user-added {
	background-color: #3b64a2 !important;
}

.select2-selection__choice.risk-orange {
	background-color: #ff9123 !important;
}

.select2-selection__choice.risk-blue {
	background-color: #3b64a2 !important;
}

.select2-selection__choice.risk-green {
	background-color: #006a4d !important;
}

.select2-selection__choice.risk-red {
	background-color: #ac554b !important;
	padding-left: 10px !important;
}

.select2-selection__choice__remove {
	float: right;
	color: #fff !important;
	margin-left: 10px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid #e99d00 !important;
}

.select2-results__option {
	background-color: #f8f8f8 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #f8f8f8 !important;
	color: #e98300 !important;
	opacity: 1.0;
}
.select2-results__option {
	background-color: #fff !important;
	color: #000;
	padding: 15px;
	font-size: 13px !important;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    border-radius: 3px;
	border: solid 1px #cacacc !important;
	background-color: rgba(255, 255, 255, 0) !important;
	cursor: default;
	color: #333333 !important;
	opacity: 0.3;
}
.select2-container--open > .selection > .select2-selection--single{
	border: 1px solid #e99d00 !important;
}

.select2-selection__rendered {
	line-height: 35px !important;
	font-size: 13px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	margin-top: 0.4375rem !important;
}
.select2-search__field {
	font-size: 13px;
	border: none !important;
    height: 45px;
	padding-left: 8px;
	text-indent: 15px;
}

.select2-dropdown--below, .select2-dropdown--above {
	min-width: 381px;
	margin-top: 10px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
}

.select2-selection__placeholder {
	width: 86px;
	height: 22px;
	opacity: 0.3;
	font-size: 16px;
	line-height: 1.31;
	text-align: left;
	color: #333333 !important;
	margin-left: 13px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	right: 13px;
}

.select2-results__option {
	color: #333333 !important;
	opacity: 1;
}


.portfolio-page * .select2-search:after {
	font-family: "FontAwesome";
    content: "\f002";
    position: absolute;
    right: 13px;
	top: 14px;
	color: #cacacc;
}


.dashboard-page * .select2-container .select2-selection--single {
	height: 40px !important;
	width: 114px !important;
    border-radius: 3px;
    border: solid 1px #cacacc;
}

.dashboard-page * .select2-selection__placeholder {
	line-height: 2.62;
	margin-left: 10px;
}

.dashboard-page *  .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 4px;
	top: -1px !important;
}

.dashboard-page *  #select2-addFund-container {
	margin-top: 2px !important;
    margin-left: 11px !important;
}

.dashboard-page *  #select-filter * .select2-selection__rendered {
	margin-top: 2px !important;
    margin-left: 11px !important;
}
.dashboard-page *  #select-filter * .select2-selection__placeholder {
	margin-top: 0 !important;
    margin-left: 0 !important;
}

.dashboard-page *  #select2-addFund-container .select2-selection__placeholder {
	margin-top: -5px !important;
    margin-left: 0 !important;
}